// variables

$standard-menu-color: #434343;
$standard-light-white-font: #fdffc3;
$standard-light-menu: #717171;
$standard-baige-light: #d0b149;

@mixin transition($time) {
  -webkit-transition: all $time cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -moz-transition: all $time cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -o-transition: all $time cubic-bezier(0.455, 0.030, 0.515, 0.955);
  transition: all $time cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -moz-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -o-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}



//styles

div.custom-navbar {
  background: $standard-menu-color;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 20%;

  header {
    width: 80%;
    color: $standard-light-white-font;
    font-size: 2em;
    border-bottom: 2px solid $standard-baige-light;
    position: relative;
    text-align: right;

    a {
      width: 90%;
      color: $standard-light-white-font;
      font-family: 'Open Sans', sans-serif;
      font-weight: 900;
      text-transform: uppercase;
    }

    span.fa {
      position: absolute;
      top: 9px;
      left: -5px;
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 10px;
    color: white;
    display: inline-block;
    font-size: 10px;

    span {
      padding: 5px 5px 5px 10px;
      display: inline-block;
    }
  }

  .side-nav {
    li {
      position: relative;

      a {
        color: $standard-light-white-font;
        font-family: 'Open Sans',sans-serif;
        font-weight: 700;
        font-size: 1.25em;
        @include transition(500ms);

        &:hover {
          color: $standard-baige-light;
          span.fa {
            color: $standard-light-white-font;
          }
        }

        &:focus {
          color: $standard-baige-light;
          span.fa {
            color: $standard-light-white-font;
          }
        }

        span.fa {
          padding: 10px 15px 10px 5px;
          color: $standard-baige-light;
          @include transition(500ms);
        }
      }

      &:hover {
        background: $standard-light-menu;
      }
    }
  }
}
